body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 350px;
}

.display {
    margin-bottom: 10px; 
    padding: 15px;
    background-color: #7c7878; 
}

#displayScreen {
    width: 100%; 
    font-size: 24px; 
    border: 2px solid #999; 
    border-radius: 5px; 
    background-color: #f0f0f0; 
    color: #333; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6a6f70;
}

.number {
    background-color: rgb(55, 59, 59);
    color: white;
}

.operator {
    background-color: rgb(24, 23, 23);
    color: white;
}

.calculate {
    background-color: rgb(20, 107, 173);
    color: white;
}

.clear {
    background-color: rgb(204, 23, 23);
    color: white;
}
